model: resnet20
epochs: 300
batch_size: 128
img_size: 32
device: mps
wandb_project: "CoDeQ experiments"
workers: 4
use_compile: 0
save_dir: save_temp
eval_bobs: false

lr_scheduler: cosine

optimizer:
  type: sgd
  param_groups:
    base:
      lr: 0.1
      momentum: 0.9
      weight_decay: 0.0001
