model: vit
epochs: 200
batch_size: 128
img_size: 224
device: mps
wandb_project: "CoDeQ experiments"
workers: 4
use_compile: 0
save_dir: save_temp
eval_bobs: true

lr_scheduler: cosine

quantizer:
  name: deadzone
  kwargs:
    fixed_bit_val: 8
    max_bits: 8
    init_deadzone_logit: 3.0
    init_bit_logit: 3.0
    learnable_bit: true
    learnable_deadzone: true
  exclude_layers: [norm]

optimizer:
  type: adamw
  param_groups:
    base:
      lr: 0.0003
      weight_decay: 0.01
    dz:
      lr: 0.001
      weight_decay: 2.5
    bit:
      lr: 0.001
      weight_decay: 0.0

loss_terms:
  - name: group_lasso
    lambda: 1.0
    kwargs:
      lambda_linear: 0.1
      lambda_conv: 0.0
